
/*

Snapshot Template
http://www.templatemo.com/tm-493-snapshot

*/

@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

/*---------------------------------------
    About Section              
-----------------------------------------*/



#about .item {
  width: 100%;
  display: block;
}

#about .about-thumb {
  background: #ffffff;
  border-radius: 4px;
  padding: 100px;
  position: relative;

}



#about .team-thumb {
  width: 100%;
  height: 400px;
  margin: 32px 0;
  text-align: center;
  background: #ffffff;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 34px;
}

#about .team-thumb .image-holder {
  position: relative;
  top: 40px;
  display: inline-block;
  margin-bottom: 40px;
  padding: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#about .team-thumb .heading {
  font-weight: bold;
  position: relative;
  top: 10px;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#about .team-thumb:hover {
  background: #304352;
  background: #09325c;

}

#about .team-thumb:hover .image-holder {
  top: -40px;
  margin-bottom: 0px;
}


#about .team-thumb .description {
  font-size: 18px;

  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

#about .team-thumb:hover .description {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#about .team-thumb:hover p.description {
  color: #ffffff;
}


/*HEADER*/





/*Midias*/

#botao-leiamais-midias{
    background-color: #bac63e;
    margin-top: -20px;
    margin-bottom: 20px;
    height: 40px;
    width: 150px;
    margin-top: 10px;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;


}

#Titulo-Midia{
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}






#Titulo-Midia{
  margin-top: 60px;
  font-size: 70px;
  margin-bottom: -20px;
  font-weight: bold;
  
}

#linha-midia{
  margin-top: 50px;
  height:10px;
  border-width:0;
  color: #ffffff;
  background-color: #ffffff;
  
}

.midia{
  background-color: #bac63e;
  height: 920px;
}

#team-carousel{
  margin-top: 10px;
}



body{
  overflow-x: hidden;
}









































